* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body{
    min-height: 100vh;
} */

header, form{
    min-width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 5%;
    flex-wrap: wrap;
}

.container{
    margin: 2% 15%;
}

.form-container{
    background-color: red;
    color: white;
    padding: 1rem 0;
}

form input,
form button {
  padding: 0.5rem;
  border: none;
  background: white;
  height: 2rem;
}

.todo-input{
    flex-grow: 3;
}


form button {
  cursor: pointer;
}



.add-btn{
    background-color: rgb(173, 171, 171);
    font-size: 12px;
    padding: 5px 10px;
    cursor: pointer;
    flex-grow: 1;
    color: rgb(80, 79, 79);
    
}
/* .add-btn:hover{
    background-color: white;
    color: black;
    border: 1px solid gray;
} */

.filter-select{
    margin: 1rem;
    position: relative;
    overflow: hidden;
}
  select {
    cursor: pointer;
    width: 12rem;
    height: 2rem;
  }

  .filter-select::after {
    content: "\25BC";
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.5rem;
    background: rgb(173, 171, 171);;
    cursor: pointer;
    pointer-events: none;
  }





.todo-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.todo-list{
    list-style: none;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.todo-list.sort-by-time{
    flex-direction: column-reverse;
}

.todo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.todo:nth-child(even){
    background-color: rgb(230, 230, 230);
}

.todo:nth-child(odd){
    background-color: rgb(247, 247, 247);
}

.completed-checkbox, .remove-btn{
    padding: 0.5rem;
    cursor: pointer;
}
.completed-checkbox{
    accent-color: rgb(173, 173, 173);;
}

.remove-btn{
    border: none;
    background-color: transparent;
}

.todo li{
    flex: 1;
}
.completed-checkbox{
    margin: 0 1rem;
}

.todo.task-completed li{
    text-decoration: line-through;
}

.todo.task-completed {
    background-color: rgb(173, 173, 173);
    color: white;

}

